.container {
    box-shadow: 0 2rem 2rem rgba(0,0,0, .4);
    display: grid;
    grid-template-rows: 5vw 35vw;
    grid-row-gap: 2rem;

    &:not(:last-child) {
        margin-bottom: 2rem;
    }

    &__link {
        
        grid-column: 1 / -1;
        grid-row: 1 / 2;
        justify-self: left;
        height: 100%;
        border: none;
        border-radius: 1rem;
        position: relative;
        transition: 1s;
        -webkit-tap-highlight-color: transparent;
        display: flex;
        align-items: center;
        justify-content: center;
        cursor: pointer;
        padding-top: 5px;

        &:hover{
            transform: translateY(-3px);
        }

        &--circle {
            width: 5px;
            height: 5px;
            background: transparent;
            border-radius: 50%;
            position: absolute;
            top: 0;
            left: 50%;
            overflow: hidden;
            transition: .4s;
        }

        &:hover &--circle {
            height: 7rem;
            width: 100%;
            left: 0;
            border-radius: 30%;
            border-bottom: 2px solid #3d3d3d;
        }
    }

    &__heading {
        text-align: center;
        font-size: 4rem;
        font-family: 'Lobster', cursive;
        color: #3d3d3d;
        margin: 0 4rem;
        text-shadow: 0 1rem 1rem rgba(0,0,0,.4);
        cursor: pointer;

        transition: all .3s;

        // &:hover {
        //     transform: translateY(-3px);
        // }
    }

    &__items {
        // margin-top: 2rem; 
        height: 100%;
        display: grid;
        grid-template-columns: repeat(4, 1fr);
        grid-column-gap: 2rem;
        grid-column: 1 / -1;
        grid-row: 2 / -1;
    }
}