.card {
    position: relative;
    overflow: hidden;
    border-radius: 2px 3rem 2px;
    box-shadow: 0 2rem 4rem rgba(0,0,0, .5);

    &__img {
        width: 100%;
        height: 100%;
        transition: all 2s;

        &:hover {
            transform: scale(1.1);
        }
    }

    &__content {
        width: 80%;
        height: 45%;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);

        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: center;

        &--heading {
            width: 100%;
            font-size: 4rem;
            padding: 2rem;
            text-transform: uppercase;
            
            background-color: rgba(#979797, .8);
        }

        &--button {
            width: 80%;
            text-decoration: none;
            padding: 2rem;
            font-size: 2rem;
            background-color: #7efff5;
            outline: none;
            border-radius: 10rem;
            color: #3a1fb5;
            font-weight: 700;
            box-shadow: 0 2rem 4rem rgba(0,0,0, .5);

            background-image: linear-gradient(120deg, transparent 0%, transparent 50%, #fff 50%);
            background-size: 225%;
            transition: all .6s;

            &:hover,
            &:active {
                background-position: 100%;
                transform: translateX(1rem);
                color: #4b4b4b;
                cursor: pointer;
            }
        }
        
    }
}